#.gitattributesは複数マッチする場合、後ろの行が優先される。
# Git doesn't convert CRLF in all file. (Git compute a diff in all file.)
* -text

# Git doesn't convert CRLF or compute a diff in this file.
*.png binary
*.jpg binary
*.dll binary
*.exe binary

# Git doesn't convert CRLF in this file. (Git compute a diff in this file.)
*.txt -text

# Git convert Shift-JIS to UTF-8 in this file. (Git compute a diff in this file.)
# copy ToUtf8.exe to ./_GitTools  folder
# git config diff.sjis.textconv './_GitTools/ToUtf8.exe'
*.bat diff=sjis

